* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*---helper classes--*/
.largeMenu_1,
.largeMenu_2,
.largeMenu_3 {
    display: none;
}
.wrapper {
    position: relative;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFontStyle;
}

body {
    background: #fff;
    font-size: $bodyFontSize;
}

header {
    background: $mainOrange;
    position: relative;
    h1 {
        font-size: $mHeaderSize1;
        text-align: center;
        font-family: $headerFontStyle;
        margin: 1em 0 0 5%;
    }
    h2 {
        font-size: $mHeaderSize2;
        text-align: center;
        padding-bottom: 1em;
        margin: 0 0 0 5%;
    }
    i.menuOpen {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
     }
    .logo {
        margin: 1% auto;
    }
} /*---end header--*/

nav {
    display: none;
    position: absolute;
    z-index: 100;
    right: -75%;
    height: 100vh;
    width: 50%;
    background-color: rgba(255,255,255, 1);
    .closeMenu {
        position: relative;
        i.menuClose {
            position: absolute;
            left: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
    .menuItems {
        position: relative;
        ul {
            position: absolute;
            top: 50px;
            width: 100%;
            border-top: $black90RGBABorder;
        }
        ul li {
            font-size: 2em;
            border-bottom: $black90RGBABorder;
        }
        a {
            padding: .5em;
            display: block;
            color: $black90RGBA;
            background: #fff;
            transition: all .25s linear;
            text-align: right;
            &:hover {
                color: #fff;
                background: $black90RGBA;
            }
        }
    }
} /*---end NAV--*/

footer {
    background: $mainOrange;
    padding: 2em 0;
    margin: 1% 0 0 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

.fa-reorder {
    font-size: 1.25em;
}

#about {
    height: 100vh;
    position: relative;
    background: linear-gradient(-180deg, rgba(0,0,0,.6), rgba(0,0,0,.80)), url(../images/aboutCoverImage.jpg) no-repeat 0 0;
    max-width: 100%;
    background-size: cover;
    h2 {
        font-size: 2em;
        color: #fff;
        text-align: center;
        padding-top: 20%;
    }
    p {
        margin: 5% 0 0 0;
        font-size: $mParagraphSize;
        color: #fff;
        font-family: $textFontFamily;
        text-align: center;
        line-height: 1.25em;
    }
    .socialIcons {
        position: absolute;
        bottom: 2%;
        left: 0;
        font-size: $mSocialSize;
        .fa:before {
            color: white;
        }
    }
} /*---end about--*/

#menu {
    h2 {
        background: $mainOrange;
        text-align: center;
        font-family: $headerFontStyle;
        font-size: $mHeaderSize2;
        padding: .5em;
        color: #000;
        margin: 0 0 1px 0;
    }
    h3 {
        font-size: $mHeaderSize3;
        font-family: $headerFontStyle;
        text-align: center;
    }
    > div:nth-child(1)  {
          text-align: center;
    }
    h4 {
        text-align: center;
        margin-bottom: 2%;
    }
    ul li {
        text-align: center;
        font-family: $textFontFamily;
    }
    .mMenu_1 {
        margin-bottom: 1px;
    }
    .largeMenu_1,
    .largeMenu_2,
    .largeMenu_3 {
        box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);
        padding-right: 0;
        padding-left: 0;
    }
    .menuOptionsH3 {
            background: #b61f1f;
            padding: .25em;
            color: #fff;
            font-size: 1em;
    }
    .menuOptionsH4 {
        background: #fff;
        padding: 1.5%;
    }
    .chooseThreeH3 {
        h3 {
            background: #b61f1f;
            padding: .25em;
            color: #fff;
            font-size: 1em;
        }
        .col-xs-4 {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    .chooseThree {
        ul {
            background: #fff;
            padding: 1.5%;
        }
        /*.col-xs-4 {*/
            /*padding-right: 5px;*/
            /*padding-left: 5px;*/
        /*}*/
    }
    .toppings {
        margin: 2% auto;
        h3 {
            background: #b61f1f;
            padding: .25em;
            color: #fff;
        }
        .row {
            background: white;
            padding: .5em 0 1em;
            margin: 0 0 2%;
        }
    }
} /*---End #menu--*/

#locationHours {
    font-size: $mHeaderSize4;
    h2 {
        background: $mainOrange;
        text-align: center;
        font-family: $headerFontStyle;
        font-size: $mHeaderSize2;
        padding: .5em;
        color: #000;
        margin: 0 0 1px 0;
    }
    h4 {
        text-align: center;
        font-size: 1em;
        strong {
            background: #b61f1f;
            padding: 0 .5em;
            color: #fff;
        }
    }
    address {
        display: inline;
    }
    .row {
        line-height: 1.75em;
    }
} /*---end locationHours--*/

#map {
    h2 {
        background: $mainOrange;
        text-align: center;
        font-family: $headerFontStyle;
        font-size: $mHeaderSize2;
        padding: .5em;
        color: #000;
        margin: 0 0 1% 0;
    }
    .mapContainer {
        margin: 0 auto;
        position: relative;
        width: 90%;
        padding-bottom: 56.25%;
    }
    .mapContainer #mapCanvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
    .mapInfoWindow {
        padding: 5% 0;
    }
} /*end map--*/