/* CSS FOR ALL SCREEN RESOLUTIONS (MOBILE IN PORTRAIT) AND ABOVE */

$font-stack: Arial, sans-serif;
$mainFontColor: #000;
$header1: 2em;
$header2: 1.5em;
$header3: 1.25em;
$header4: 1em;

body {
  background-color: white;
  color: $mainFontColor;
  font-size: $header1;
  font-family: $font-stack;

}

#container {
  margin: 0 auto;
}

section, nav, header, footer {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6, ul li {
  margin: 1em 0;
}

ul {
  margin-left: 1em;
}

/*
THE NEXT SERIES OF MEDIA QUERIES DENOTED BY min-widths INTRODUCE ADDITIONAL CSS
FOR INCREASINGLY LARGER SCREENS.

WE ARE CONCERNED NOT WITH THE min-width NUMERICAL VALUES OF THE BREAKPOINTS THEMSELVES,
BUT WHAT HAPPENS AFTER THOSE BREAKPOINTS.
*/

/*
CSS FOR MOBILE LANDSCAPE (480PX) AND ABOVE.
THIS MEDIA QUERY CONTAINS ADDITIONAL NEEDED CSS AND EXCEPTIONS TO THE CSS RULES SET ASIDE PREVIOUSLY.
*/

@media screen and (min-width: 321px) {



}

/*
CSS FOR TABLET IN PORTRAIT ORIENTATION (768PX) AND ABOVE.
CONTAINS ADDITIONAL NEEDED CSS AND EXCEPTIONS TO THE CSS RULES SET ASIDE PREVIOUSLY.
*/

@media screen and (min-width: 481px) {



}

/*
CSS FOR TABLET IN LANDSCAPE ORIENTATION (1024PX) AND ABOVE.
CONTAINS ADDITIONAL NEEDED CSS AND EXCEPTIONS TO THE CSS RULES SET ASIDE PREVIOUSLY.
*/

@media screen and (min-width: 769px) {



}

/*
CSS FOR A LAPTOP (1440PX) AND ABOVE.
CONTAINS ADDITIONAL NEEDED CSS AND EXCEPTIONS TO THE CSS RULES SET ASIDE PREVIOUSLY.
*/

@media screen and (min-width: 1025px) {



}

/*
CSS FOR DESKTOP RESOLUTIONS (1600PX) AND ABOVE.
CONTAINS ADDITIONAL NEEDED CSS AND EXCEPTIONS TO THE CSS RULES SET ASIDE PREVIOUSLY.
*/

@media screen and (min-width: 1441px) {



}

/*
IF ADDITIONAL BREAKPOINTS ARE REQUIRED, THEY CAN BE ADDED IN THE APPROPRIATE ORDER
*/