/*--Helper classes--*/
.positionRelative {
    position: relative;
}
.positionAbsolute {
    position: absolute;
}

/*---General Styles---*/
a:link {
text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}

body {
    font-size: 16px;
}

/*owlCarousel*/
#owlCarousel .item img {
    display: block;
    max-width: 100%;
    height: auto;
}
#owlCarousel {
    .jumbotron img {
        width: 100%;
        border: 1px solid black;
    }
    .owl-controls {
        position: absolute;
        bottom: 20px;
        left: 50%;
     }
}

#newArrivalsCarousel > div.owl-wrapper-outer > div .item,
#historyCarousel > div.owl-wrapper-outer > div .item {
    background: #1eacbb;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.box-cover-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.20);
    opacity: 0;
    z-index: 10;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
    .play-button {
        color: white;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 4em;
        z-index: 10;
        text-align: center;
        opacity: 0;
        line-height: 0 !important;
        text-shadow: 0px 0px 9px #000;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
}
.box-cover-overlay:hover,
.play-button:hover {
    opacity: 1;
}
/*bootstrap*/
.navbar {
    border-radius: 0;
    font-family: $menuFont;
    .dropdownCol {
        column-count: 3;
        li {
            display: block;
            color: $menuColor;
            line-height: 1.25em;
            padding: 1em;
            a {

            }
        }
    }
    .navbar-brand {
        background: url('../images/uDocumentaryLogo.png') no-repeat left center;
        background-size: contain;
        height: 50px;
        width: 240px;
        margin-right: 12px;
    }
}
.jumbotron {
    padding-top: 80px;
    margin-bottom: 0;
    .featured-background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: .5;
        background: url('../images/backgroundTexture_1.jpg') center;
    }
    h1 {
        font-size: $mHeaderSize1;
    }
    p {
        font-size: $mParagraphSize;
        color: #fff;
        line-height: 1.25em;
    }
    .btn-primary {
        margin-bottom: 20px;
    }
}
footer {
    background: $baseDarkColor;
    i.social-icon {
        background: #eee;
        border-radius: 50%;
    }
    h2 {
        font-family: $headerFont;
        font-size: $mHeaderSize2;
        margin: 2% 0;
    }
}
/*sections*/
.movieCarouselSection {
    margin: 5% 0 0 0;
    h2 {
        font-family: $headerFont;
        font-size: $mHeaderSize2;
        margin: 0 0 0 .5em;
    }
}






@media (min-width: 767px) {
    #owlCarousel {
        .jumbotron {
            img {
                width: 200px;
                /*margin-right: 2%;*/
                /*margin-left: 2%;*/
                margin-top: 2%;
            }
        }
    }
} /*end min-width: 767px*/

@media (min-width: 992px) {
    #owlCarousel {
        .jumbotron img {
            width: 280px;
            /*margin-right: 2%;*/
            /*margin-left: 2%;*/
            margin-top: 2%;
        }
    }
}